@font-face {
    font-family: 'segoe_light';
    src: url('../fonts/segoeuil-webfont.eot');
    src: url('../fonts/segoeuil-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeuil-webfont.woff') format('woff'),
         url('../fonts/segoeuil-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



body{ margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; color:#000; background:url(../images/bg.png) repeat;; font-family:"segoe_light"; }
#main_outer{ float:left; width:100%;}

#top_outer {
    background: none repeat scroll 0 0 #666666;
    border-bottom: 5px solid #2CCAFD;
    float: left;
    position: fixed;
    width: 100%;
    z-index: 999;
}
#top_wrapper{ margin:0 auto; width:998px; background:#fff; }
.banner{ float:left; width:100%;}
.logo_outer{ float:left; width:355px;margin:12px 5px 5px 0px;}
.top_menu_outer{ float:right; width:180px; margin:25px 5px 5px 5px;}
.top_nav{ margin:0; padding:0; float:right;}
.top_nav li{ float:left; display:inline; color:#999; font-size:15px; font-family: 'segoe_light';  }
.top_nav li a{ background: none repeat scroll 0 0 #FA565A;
    color: #FFFFFF;
    font-family: 'segoe_light';
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 350ms ease-in-out 0s; }
.top_nav li a:hover{ background:#E6E6E6; color:#333;}
.top_nav li span{ margin-left:10px; margin-right:10px;}
#mid_outer{ background: url("../images/flash_bg.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    float: left;
    height: 539px;
    padding-bottom: 5px;
    width: 100%; }
#company_outer{ background: url("../images/flash_bg_company.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    float: left;
    height: 539px;
    padding-bottom: 5px;
    width: 100%; }	
#form_outer{ float:left;  padding-bottom:5px;    width: 100%; background:#fff; }		

#form_wrapper{ margin:0 auto; width:998px; min-height:261px; }
#form_outer_two{ float:left;    width: 100%;}	
.form_wrapper_two{ margin:0 auto; width:998px; min-height:200px; }
#mid_wrapper{ margin:0 auto; width:998px; background:#fff; }


.head_nav{ margin:0;  padding:0; margin-left:6px; font-family:'calibri'; }
.head_nav li{ float:left; display:inline; margin-right:25px; margin-left:2px; position:relative;  }
.head_nav li a{ text-decoration:none; color:#3d2c2c;  font-size:16px; font-family:'calibri'; padding-bottom:10px; }
.head_nav li a:hover{ color:#000;}

.slider_outer{ float:left; width:100%; margin-top:15px;}
#white_outer{ float:left; width:100%;}
#white_wrapper{ margin:0 auto; width:998px; padding-top:25px; padding-bottom:25px; text-align:center; font-size:40px;  font-family: 'segoe_light'; color:#999; }
.top_form_text{ float:left; width:100%;  padding-top:25px; padding-bottom:25px; text-align:center; font-size:35px;  font-family: 'segoe_light'; color:#999; }
.top_form_smalltext{ float:left; width:94%;  padding:10px 30px 10px 30px;  text-align:center; font-size:17px;  font-family: 'segoe_light'; color:#999; line-height:30px; }
.mid_nav_outer_main{ float:left; width:100%; padding-bottom:10px; }
.mid_nav_outer{ float:left; width:562px; background:#7a548e; padding:3px; padding-left:5px; min-height:25px; margin-top:38px; margin-left:217px; }
.mid_nav{ margin:0;  padding:0;  font-family:'calibri'; text-align:center; }
.mid_nav li{ float:left; display:inline;  position:relative; padding:3px 0px 3px 0px;  margin:0px 1px 0px 1px;  }
.mid_nav li a{ text-decoration:none; color:#fff;   font-size:16px; font-family: 'segoe_light'; padding-bottom:10px;  padding:3px 15px 3px 15px;  }
.mid_nav li a:hover{ color:#000; background:#fff;}
.mid_nav li .active{color:#000; background:#fff; }

<!--form page-->

<!--form page end-->



#content_outer{ float:left; width:100%; background:#e9eaec;}
#content_wrapper{ margin:0 auto; width:998px;}

#footer_outer{ float:left; width:100%;  border-top:1px solid #e2e2e2; padding-top:5px; background:#fff; }
#footer_wrapper{ margin:0 auto; width:998px; min-height:50px; }
#icon_outer_main{ float:left; margin:10px;}
.footer_icon_outer{ float:left; width:28px; height:31px; margin-right:5px; }
.footer_text{ float:left; font-size:12px; color:#999; padding-top:8px;}
.footer_logo{ float:right;}

.footer_text a {
    color: #999999;
    margin-left: 15px;
    text-decoration: none;
}
.footer_text a:hover {
	color: #333;
}





/*slider*/
/* SLIDER STYLES */
	
.slider-wrapper{
	position:relative;
	overflow:hidden; margin-top:30px;
	width:100%;

}

.slider{
	position:relative;
	width:100%; 
/*	height:400px; when responsive, comment this out */
	margin:0 auto;
}

@media only screen and (min-width: 1000px){
	.slider{
		width:1000px;
	}
}

@media only screen and (min-width: 1440px){
	.slider{
		width:1440px;
	}
}

/* ELEMENT STYLES */
.claim{
	line-height:100%
}	

.teaser{
	padding:0.5% 1.5%;
	font-size:14px;
	 line-height:100%
}

.small{
	width:250px;
   padding-left:0; padding-right:0px;
	text-align:center;
}

.light-green{ font-size:45px; color:#fff; line-height:55px;  }
.dark_taxt{ font-size:45px; color:#fff; line-height:55px;  }
.green{ color:#fff;}
.orange{background:url(../images/black_bg_slider.png) repeat-x; height:52px; width:100%;padding:10px 8px 8px 8px; color:#fff; text-transform:lowercase; line-height:15px;}
.small{background:url(../images/black_bg_slider.png) repeat-x;  width:100%;padding:10px 8px 10px 8px; color:#fff; text-transform:lowercase; text-align:left; line-height:15px;}
.turky{background:#348E8A}
.white{background:#fff; color:#333}
/*slider outer*/


.comp_box{ float:left; width:260px; margin:55px 0px 55px 55px; }
.comp_box_inner{  float:left; width:260px; background:#fff;  min-height:300px; box-shadow:1px 1px 3px #999; position:relative;  	}	
.comp_box_inner:hover{}
.blak_box{ background:url(../images/black_bg_slider.png) repeat; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; width:240px; height:260px; position:absolute; margin:10px;  }
.comp_logo{ width:100%; margin-top:20px; text-align:center; padding-top:15px;}	
.comp_detail{ width:240px; margin-top:15px; text-align:center; padding:8px; color:#999; font-size:13px; line-height:22px; text-align:left;}

.comp_name{ float:left; width:100%; text-align:center; font-size:18px; font-weight:bold; color:#666; margin-top:25px;}


.form_main_outer{ float:left; width:100%;  }
.form_main_inner{ margin:0 auto; width:998px; padding-bottom:15px; }
.color_strip_outer{ float: left;    width: 100%; margin-top:0px; background:#e9eaec; }
.color_strip_inner{ float:left; width:40%; }
.main_form_outer{ float:left;  padding-bottom:5px;    width: 100%; background:url(../images/form_bg1.jpg) repeat; }	
.main_form_inner{ margin:0 auto; width:998px;   }
/*.head_text_large{ float:left; width:100%; padding:10px 0px 10px 0px; color:#999; font-size:24px; margin-top:15px;}*/
/*.first_outer{ float:left; width:100%;}*/
/*.mix_outer{ float:left; width:100%;}*/
.center_position{ text-align:center;  }
.center_position1{ text-align:center; margin-top:-35px;  }
/*.textarea{ float:left; background:#f4f5f6; font-size:16px; color:#999;  padding:10px; border:1px solid #ececec; width:95%; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin-bottom:15px; font-family: 'segoe_light'; }*/
/*.textarea_w{ float:left; background:#fff; font-size:16px; color:#999;  padding:10px; border:1px solid #ececec; width:95%; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin-bottom:15px; font-family: 'segoe_light'; }*/
.size1{ width:29%; margin-right:3%;}
.size2{ width:56%; float:right; }
/*.step1{ float:left; width:400px;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:23px; margin-top:10px; padding-bottom:10px; }*/
/*.first_arrow{ float:left; width:102px; height:175px; margin-top:138px; }*/
/*.step2{ float:left; width:100%;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:10px; margin-top:10px; padding-bottom:10px; }*/
/*.gray_outer{ float:left; padding:13px; background:#f8f8f8;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}*/
/*.gray_outer_skill{ float:left;  background:#f8f8f8;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; width:100%;}*/
/*.container_outer{float:left; width:100%;}*/
/*.row_outer{ float:left; width:100%;}*/
.size3{ width:29%; margin-right:3%  }
.size4{ width:28%; }
.size5{ width:46%; margin-right:2%; }
.size6{ width:44%;  }
/*.size7{ width:40%; margin-right:4%;  }
.size8{ width:41%;   }*/
.inner_left{ float:left; width:47%; margin-right:4%;}
.inner_right{ float:left; width:48%; }

/*.red_butt{ float:right; padding:10px;  color:#fff; }
.red_butt a{ text-decoration:none; color:#fff; padding:10px 15px 10px 15px ; font-size:16px;  background:#f74747; }
.red_butt a:hover{ color:#fff; background:#333;  }*/
.step3_main_outer{ float:left; width:81%;}
/*.step3{ float:left; width:100%;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:10px; margin-top:10px; padding-bottom:10px;   }*/
.step3_head_set{ margin-top:53px; width:60%;}
.step3_inner{ float:left;width:100%;}
/*.second_arrow{ float:left; width:102px; margin-left:25px;}*/
/*.left_arrow_outer{ float:left; width:102px; margin-left:170px; }*/
/*.right_arrow_outer{ float:left; width:102px; margin-top:416px; margin-left:-28px;  }*/
/*.third_arrow{ float:left; width:102px; height:216px;  }
.fourth_arrow{ float:left; width:102px;  margin-top:200px;   }*/
/*.step4_main_outer{ float:left; width:48%; margin-top:47px;}*/
/*.step4{ float:left; width:90%;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:10px; padding-bottom:0px; margin-top:10px;  }*/
/*.step5_left{ float:left; width:119px; } 
.step5_right{ float:left; width:119px; } 
.step5_mid_outer{ float:left; width:76%}
.step5{ float:left; width:97%;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:10px; padding-bottom:10px; margin-top:10px;  }
.step6{ float:left; width:97%;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:10px; margin-top:10px; padding-bottom:10px; }*/
.size9{ width:28%; margin-right:3%  }
.step5_arrow1{ float:left; margin-top:590px;}
.step5_arrow2{ float:left; margin-top:90px;}
.step5_arrow3{ float:left; margin-top:70px;}
.step5_arrow4{ float:left; margin-top:80px;}

.skill_head_outer{ float:left;width:100%; border-bottom:1px solid #fff;}
.skill_row_outer{ float:left;width:100%; border-bottom:1px solid #fff;}
.skill_top_head{ float:right; width:380px;  }
.skill_text_outer{float:left; border-left:1px solid #fff; padding:5px; width:65px; color:#c2c2c2; font-size:18px; text-align:center; padding-top:10px; }
.skill_text_outer1{float:left; border-left:1px solid #fff;  padding:5px; width:65px; color:#c2c2c2; font-size:18px; text-align:center; padding-top:10px; }
.skill_textrow_outer{float:left; border-left:1px solid #fff; padding:5px; width:65px;  text-align:center; min-height:45px;  }
.skill_textrow_outer1{float:left; border-left:1px solid #fff;  padding:5px; width:65px; color:#c2c2c2; font-size:18px; text-align:center; min-height:45px; }
/*.skill_left_outer{ float:left; width:352px;}*/
.lable_text{ float:left; padding:12px 0px 8px 8px; font-size:22px; color:#999999; width:100px;  }
.skilltext_area{ float:left; width:215px; margin-left:5px; padding:5px;}
.textarea_skill{ float:left; background:#fff; font-size:16px; color:#999;  padding:10px; border:1px solid #ececec; width:95%; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; font-family: 'segoe_light'; }

.add_outer{ float:left; margin-top:-24px;  padding:3px 5px 3px 5px; font-size:12px; color:#f74747; text-decoration:none; }

.skill_main_outer{ float:left; width:100%;}
/*.f10_outer{ float:left; width:100%;}
.arrow10_outer{ float:left; width:66px; margin-left:20px;}
.step7_outer{ float:left; width:400px;}
.step7{ float:left; width:88%;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:23px; margin-top:10px; padding-bottom:10px; }*/
/*.eleven_arrow_outer{ float:left; width:82px; padding-top:300px;}*/
.f11_outer{ float:left; width:100%;}
/*.head11_text_large{ float:left; width:100%; padding:0px 0px 10px 0px; color:#999; font-size:24px; margin-top:5px;}*/
.step8{ float:left; width:97%;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:10px; margin-top:10px; padding-bottom:10px; }
.step8_gray_outer{ float:left; padding:13px; background:#f8f8f8;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; width:96%;}
.step8_inner_text{ float:left; width:98%; padding:5px;  color:#999; font-size:18px; margin-bottom:5px;}
/*.size11{ width:80%;  }*/
.last_arrow{ float:left; width:17px; height:87px; margin-left:375px;}
.submit_butt{ float:left; width:143px; height:142px; background:url(../images/submitt_butt.png) no-repeat; cursor:pointer; border:0; margin-left:314px; margin-top:10px; margin-bottom:20px;}
.submit_butt:hover{ background:url(../images/submitt_butt_h.png) no-repeat;}

/* 6&7 dec starts*/

.comp_box_main {
    float: left;
    margin: 50px 0 0;
    width: 998px;
}
.comp_box {
    float: left;
    margin: 0 0 55px 55px;
    width: 260px;
}
.comp_box_inner {
    background: none repeat scroll 0 0 #FFFFFF;
    /*box-shadow: 0 0 3px #CCCCCC;*/
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.02);
    float: left;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    width: 260px;
}
.comp_box_inner:hover{
	transition-duration: 0.1s;
    transition-property: all;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 13px 1px rgba(0, 0, 0, 0.07);
}
.comp_logo{ width:100%; margin-top:20px; text-align:center; padding-top:15px;}	
.comp_detail{ width:240px; margin-top:15px; text-align:center; padding:10px; color:#999; font-size:13px; line-height:22px; text-align:left; min-height: 55px;}

.comp_name{ float:left; width:100%; text-align:center; font-size:18px; font-weight:bold; color:#666; margin-top:25px;}

/*.comp_box .comp_content {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    bottom: 0;
    cursor: pointer;
    margin: 10px;
    min-height: 260px;
    padding: 10px;
    position: absolute;
    transition: all 1s ease-in 0s;
    width: 220px;
}*/
.comp_box .comp_content {
    cursor: pointer;
    height: 87%;
    margin: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 85%;
	transition: all 1s ease-in 0s;
	display: none;
	background: #fff;
}
.comp_box:hover .comp_content{
	background: #fff;
	/*background:rgba(233, 234, 236, 1);*/
	transition: all 1s ease-in 0s;
	display:block;
}
.comp_content .comp_content_text{
	font-size: 13px;
	color: #000;
}
.comp_content_text ul {
    padding: 0px;
	margin: 0px;
}
.comp_content_text ul li {
    float: left;
    list-style: none outside none;
    margin-bottom: 5px;
    width: 100%;
}
.comp_content_text ul li span.title {
    background: none repeat scroll 0 0 #B5B5B5;
    color: #FFFFFF;
    float: left;
    padding: 10px 0;
    text-align: center;
    width: 33%;
}
.comp_content_text ul li span.title_info {
    background: none repeat scroll 0 0 #CECECE;
    float: left;
    margin-left: 5px;
    padding: 10px 5px;
    width: 60%;
}
.button {
    display: block;
    float: left;
    padding-bottom: 35px;
    text-align: center;
    width: 100%;
}
.btn-purple {
    background-color: #634574;
    background-image: -moz-linear-gradient(center top , #6D4B7F 0px, #634574 100%);
    border: 0 none;
    border-radius: 2px;
    color: #FFFFFF !important;
    font-size: 14px;
    font-weight: bold;
    padding: 18px 40px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-purple:hover {
    background-color: #6d4b7f;
    background-image: -moz-linear-gradient(center top , #7a548e 0px, #6d4b7f 100%);
    color: #FFFFFF !important;
    text-decoration: none;
}
#page2_slider{ 
	background: url("../images/front-page2_slider.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    float: left;
    height: 307px;
    padding-bottom: 5px;
    width: 100%; 
}
#white_content_outer{ 
	float:left; 
	width:100%; 
	background:#fff;
}
#white_content_wrapper{ 
	margin:0 auto; 
	width:998px;
}
.white_content_wrapper_main{
	float: left;
	width: 100%;
	margin: 70px 0px;
}
.white_col_left{
	float: left;
	width: 52%;
}
.white_col_left h1.title{
	font-size: 35px;
	color: #414343;
	padding:0px;
	margin: 0px;
}
.white_col_left .title_info {
    color: #888888;
    font-size: 25px;
    font-weight: bold;
	line-height: 30px;
}
.white_col_right{
	float: left;
	width: 48%;
}
.white_col_right .icon_img {
    float: right;
    margin-right: 10%;
}
#grey_content_outer {
    background: none repeat scroll 0 0 #E5E5E5;
    border-bottom: 1px solid #CBCBCB;
    border-top: 1px solid #CBCBCB;
    float: left;
    width: 100%;
}
#grey_content_wrapper{ 
	margin:0 auto; 
	width:998px;
}
.grey_content_wrapper_main{
	float: left;
	width: 100%;
	margin: 70px 0px;
}
.grey_col_right{
	float: left;
	width: 52%;
}
.grey_col_right h1.title{
	font-size: 35px;
	color: #414343;
	padding:0px;
	margin: 0px;
}
.grey_col_right .title_info {
    color: #888888;
    font-size: 25px;
    font-weight: bold;
	line-height: 30px;
}
.grey_col_left{
	float: left;
	width: 48%;
}
.grey_col_left .icon_img {
    float: left;
	margin-left: 10%;
}
.btn-red {
    display: block;
    margin: 30px 0;
    text-align: center;
}

/* 6&7 dec end */
/* 9 dec start */

.page2_sliderinfo{
	padding:15px!important;
	height: auto!important;
}
#page3_slider{
	background: url("../images/page3_slider.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    float: left;
    height: 307px;
    padding-bottom: 5px;
    width: 100%; 
}
.page3_white_content_wrapper_main{
	float: left;
    margin: 50px 0;
    width: 100%;
}
.page3_white_col_left{
	float: left;
	width: 50%;
}
.page3_white_col_right{
	float: left;
	width: 50%;
}
.page3_white_col_left .numeric_text {
    color: #855C9C;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
}
.page3_white_col_left_content{
	float: left;
	width: 100%;
	text-align: center;
}
.page3_white_col_left_content .icon_img{
	
}
.page3_white_col_left h2.title {
    color: #855c9c;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.page3_white_col_left_content .title_info {
    color: #888888;
    font-size: 18px;
    font-weight: bold;
    padding: 0 40px;
}
#purple_content_outer{ 
	float:left; 
	width:100%; 
	background:#855c9c;
}
#purple_content_wrapper{ 
	margin:0 auto; 
	width:998px;
}
.page3_purple_content_wrapper_main{
	float: left;
    margin: 50px 0;
    width: 100%;
}
.page3_purple_col_left{
	float: left;
	width: 50%;
}
.page3_purple_col_right{
	float: left;
	width: 50%;
}
.page3_purple_col_left .numeric_text {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
}
.page3_purple_col_left_content{
	float: left;
	width: 100%;
	text-align: center;
}
.page3_purple_col_left_content .icon_img{
	
}
.page3_purple_col_left h2.title {
    color: #fff;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.page3_purple_col_left_content .title_info {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 0 40px;
}

/* 9 dec end */
/*sahil changes 7dec*/
.footer_icon_outer_g
{
	float:left;
	width:28px;
	height:31px;
}
.footer_icon_outer_g a
{
	float:left;
	width:28px;
	height:31px;
	background:url(../images/g_icon.png) no-repeat;
}
.footer_icon_outer_g a:hover
{
	background: url("../images/google_c.png") no-repeat scroll 4px 4px rgba(0, 0, 0, 0);
}
.footer_icon_outer_fb
{
	float:left;
	width:28px;
	height:31px;
}
.footer_icon_outer_fb a
{
	float:left;
	width:28px;
	height:31px;
	background: url(../images/f_icon.png);
}
.footer_icon_outer_fb a:hover
{
	background: url(../images/fb_c.png) no-repeat scroll 0px 4px rgba(0, 0, 0, 0);
}
.footer_icon_outer_tw
{
	float:left;
	width:28px;
	height:31px;
}
.footer_icon_outer_tw a
{
	float:left;
	width:28px;
	height:31px;
	background: url(../images/tweet_icon.png) no-repeat;
}
.footer_icon_outer_tw a:hover
{
	background: url(../images/twitter_c.png) no-repeat scroll 3px 4px rgba(0, 0, 0, 0);
}
.footer_icon_outer_you
{
	float:left;
	width:28px;
	height:31px;
}
.footer_icon_outer_you a
{
	float:left;
	width:28px;
	height:31px;
	background: url(../images/youtube_icon.png) no-repeat;
}
.footer_icon_outer_you a:hover
{
	background: url(../images/youtube_c.png) no-repeat scroll 3px 4px rgba(0, 0, 0, 0);
}
#content_outer{ float:left; width:100%; background:#e9eaec;}
.login_register_outer
{
	float: left;
    position: relative;
    width: 100%;
	margin-bottom:50px;
}
.login_text{ float:left; width:94%;  padding:10px 30px 10px 30px;  font-size:17px;  font-family: 'segoe_light'; color:#999; line-height:26px; }
.forget_password{float:left; width:auto; color:#999; margin-bottom:10px; font-size:12px; text-decoration:none;}
.forget_password:hover{text-decoration: underline;}
.login_butn
{
	float:left;
	width:90%;
	margin-bottom:12px;
}
.login_butn a
{
	float:left;
	width:auto;
	background:#70497b;
	color: #FFFFFF;
    font-size: 16px;
    padding: 10px 15px;
    text-decoration: none;
}
.login_butn a:hover
{
	
	background:#999;
}
.arrow_text
{
	background: url("../images/down_arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #999999;
    float: left;
    height: 36px;
    left: 260px;
    padding: 10px;
    position: absolute;
    top: 255px;
    width: 277px;
}
.register_box
{
	float:right; width:400px;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:23px; margin-top:10px; padding-bottom:10px;
}
/*sahil changes 7dec*/


#page4_slider{
	background: url("../images/page4_slider.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    float: left;
    height: 307px;
    padding-bottom: 5px;
    width: 100%; 
}

.white_content_outer_p{ 
	float:left; 
	width:100%; 
	background:#fff;
}
.white_content_wrapper_p{ 
	margin:0 auto; 
	width:998px;
}
.page4_white_content_wrapper_main{
	float: left;
    margin: 40px 0;
    width: 100%; text-align:center; font-size:34px; line-height:45px; color:#a1a1a1;
}
.gray_content_outer{ 
	float:left; 
	width:100%; 
	background:#e9e9e9; border-top:1px solid #a1a1a1; border-bottom:1px solid #a1a1a1;
}
.gray_content_wrapper{ 
	margin:0 auto; 
	width:998px;
}
.page4_gray_content_wrapper_main{
	float: left;
    margin: 40px 0;
    width: 100%;
}
.gray_box_small_outer{ float:left; width:260px; margin:0px 0px 0px 55px; }
.img_outer{ float:left; width:76px; height:80px;  position:relative;  margin:13px 90px 0px 88px; }
.img_frame{ position:absolute; z-index:1; width:105px; height:94px; background:url(../images/image_frame.png) no-repeat; margin-left:72px;}
.image_name{ float:left; width:96%; font-size:24px; color:#a1a1a1; padding:5px; text-align:center; }
.white_box_outer{ float:left; width:92%; padding:10px; box-shadow:1px 1px 5px #999; background:#fff; }
.white_box_outer .top_text_outer{ float:left; width:100%; border-bottom:1px solid #d7d7d7; color:#999999; font-size:15px; line-height:23px; padding-bottom:8px;}
.white_box_outer .largetext_outer{ float:left; width:95%; color:#999; font-size:18px; line-height:28px; padding-bottom:8px; text-align:center; padding:5px;}

#page5_slider{
	background: url("../images/page5_slider.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    float: left;
    height: 307px;
    padding-bottom: 5px;
    width: 100%; 
}
.page5_white_content_wrapper_main{
	float: left;
    margin: 40px 0;
    width: 100%; 
}
.gray_box_small_outer5{ float:left; width:300px; margin:0px 0px 0px 25px; }
.plane_box_outer{ float:left; width:92%; padding:10px;  }
.graytop_text_outer{ float:left; width:100%;  color:#999999; font-size:15px; line-height:23px; padding-bottom:8px; text-align:center;}
.name_head{ float:left; width:96%; font-size:24px; color:#333t; padding:5px; text-align:center; }
.graytop_text_outer2{ float:left; width:100%;  color:#999999; font-size:15px; line-height:23px; padding-bottom:8px; text-align:center; min-height:140px;}
.left_text_outer{ float:left; width:75px; color:#999; font-size:16px; line-height:28px; padding-bottom:8px;   font-weight:bold;}
.right_text_outer{ float:left; width:140px; color:#999; font-size:16px; line-height:22px; padding-bottom:8px;  padding:5px; text-align:left; margin-left:2px; }
input[type="radio"]{
    display:none; 
}

input[type="radio"] + label
{
    background:url(../images/chk.png) no-repeat;
    height: 56px;
    width: 57px;
    display:inline-block;
    padding: 0 0 0 0px;cursor:pointer;
}

input[type="radio"]:checked + label
{
     background:url(../images/chk_active.png) no-repeat;
    height: 56px;
    width: 57px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.chk_outer{ float:left; width:64px; height:57px;  padding-left:11px; border-right:1px solid #fff; cursor:pointer;}

#about_slider{
	background: url("../images/about_page_slider.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    float: left;
    height: 307px;
    padding-bottom: 5px;
    width: 100%; 
}
.about_text_outer{ float:left; width:100%;  color:#999999; font-size:17px; line-height:23px; padding-bottom:8px; }
.founder_img_outer{ float:left; width:329px; margin-right:10px;}
.founder_text_outer{ float:left; width:65%}
.founder_text_outer h1{ float:left; font-size:32px; color:#282828; font-family: 'segoe_light'; margin-bottom:5px; }
.founder_text_outer .small_text{ float:left; font-size:16px; text-transform:uppercase; color:#282828; line-height:25px; width:100%;}
.founder_text_outer .small_text1{ float:left; font-size:15px;  color:#282828; line-height:25px; width:100%; margin-top:10px; margin-bottom:15px;}
.founder_text_outer .small_text1 span{font-size:24px; margin-left:5px; }

/* dashboard profile - 16dec start here */

.dashprofile_main_outer{ 
	float:left; 
	width:100%;  
}
.dashprofile_main_inner{ 
	margin:0 auto; 
	width:998px; 
	padding-bottom:15px; 
}
.dashprofile_text{ 
	float:left; 
	width:94%;  
	padding:40px 30px 0;  
	font-size:20px;  
	font-family: 'segoe_light'; 
	color:#999; 
	line-height:26px; 
}
.dashprofile_content{ 
	float:left;  
	padding-bottom:5px;    
	width: 100%; 
/*	background: none repeat scroll 0 0 #E9EAEC; */
}	
.dashprofile_content_inner{ 
	margin:0 auto; 
	width:998px;   
}
.dashprofile_content_inner_main {
   /* background: none repeat scroll 0 0 #E9EAEC;*/
    /*border: 1px solid #DBDCDE;*/
    float: left;
    margin-bottom: 50px;
    margin-top: 12px;
    position: relative;
    width: 100%;
}
.dashpro_left {
    background: none repeat scroll 0 0 #E9EAEC;
    float: left;
    margin: 0px 0 0;/*26dec changes {SA}*/
    position: fixed;
    width: 200px;
	border-bottom:1px solid #ccc;
}
.dashpro_left_box{
	width: 100%;
	float: left;
	position:relative;
	border:1px solid #ccc;
	border-bottom:0px;
	background:#fff;/*26dec changes {SA}*/
}
.active{
	background: url("../images/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none; /*26dec changes {SA}*/
}
.dashpro_left_box_main {/*26dec changes {SA}*/
    float: left;
    margin: 0;
}
.dashpro_img{
    float: left;
	width: 100%;
	text-align:center;/*26dec changes {SA}*/
}
.dashpro_edit {/*26dec changes {SA}*/
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    position: absolute;
    right: 0;
    width: 15%;
}
.dashpro_title{
	float: left;
	font-size: 20px;
	color: #999;
	width: 100%;
	text-align: center;
}
.dashpro_right {
    float: right;
    margin-left: 3%;
    margin: 0 10px 20px;
    width: 75%;
}
.dashpro_right_text{
	float: left;
	width: 100%;
	display:none;
}
.dashpro_info{
	font-size: 25px;
	color: #999;
	text-align: center;
}
.border_bottom {
    border-bottom: 1px solid #dbdcde;
    float: left;
    margin-left: 22%;
    margin-top: 5px;
    width: 55%;
}
.right_nav_outer_main {
    float: left;
    margin-top: 25px;
    width: 100%;
}
.right_nav_outer {
    float: left;
    background: #999;
    padding: 3px;
	width: 742px;
}
.right_nav {
    margin: 0;
    padding: 0;
    font-family: 'calibri';
    text-align: center;
}
.right_nav li {
    float: left;
    display: inline;
    position: relative;
	padding: 3px;
}
.right_nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: 'segoe_light';
    padding: 3px 26px;
}
.right_nav li a:hover {
    color: #000;
    background: -moz-linear-gradient(center bottom , #E9EAEC 10%, #FFFFFF 99%) repeat scroll 0 0 #E9EAEC;
}
.right_nav li .active {
    color: #000;
    background: -moz-linear-gradient(center bottom , #E9EAEC 10%, #FFFFFF 99%) repeat scroll 0 0 #E9EAEC;
}

/* new changes */

.dashpro_right_form{
	float: left;
	width: 100%;
}
.head_text_large /*dashpro_right_form_heading*/ {
    color: #999999;
    float: left;
    font-size: 30px;
    margin-top: 15px;
    width: 100%;
}
.first_outer{
	float: left;
	width: 100%;
}
.step1{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #CCCCCC;
    float: left;
	width:40%;
	padding: 10px;
}
.first_arrow{ 
	float:left; 
	width:102px;
	height:175px; 
	margin-top:80px; 
}
.second_arrow{ 
	float:left; 
	width:102px; 
	margin-left:-100px;
}
.left_arrow_outer{ 
	float:left; 
	width:102px; 
	margin-left:85px; 
}
.right_arrow_outer{ 
	float:left; 
	width:102px; 
	margin-top:200px; 
	margin-left:-55px;  
}
.third_arrow{ 
	float:left; 
	width:102px; 
	height:216px;  
}
.fourth_arrow{ 
	float:left; 
	width:102px;  
	margin-top:200px;   
}
.textarea {
    background: none repeat scroll 0 0 #F4F5F6;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    color: #999999;
    float: left;
    font-family: 'segoe_light';
    font-size: 16px;
    margin-bottom: 10px;
    padding: 8px;
    width: 94%;
}
.textarea:last-child{
    margin-bottom: 0px;
}
.size1{
	width: 42%; 
	margin-right: 2%;
	margin-bottom: 0px;
}
.size1:last-child{
	margin-right: 0;
	margin-bottom: 0px;
}
.size2 {
    float: right;
    width: 43%;
	margin-bottom: 0px;
}
.mix_outer{
	float: left;
	width: 100%;
}
.step2{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #CCCCCC;
    float: left;
	width: auto;
	padding: 10px;
}
.gray_outer{
	background: none repeat scroll 0 0 #F8F8F8;
    border-radius: 5px;
    float: left;
    padding: 10px;
}
.container_outer{
	float: left;
	width: 100%;
}
.row_outer{
	float: left;
	width: 100%;
}
.textarea_w {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    color: #999999;
    float: left;
    font-family: 'segoe_light';
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 8px;
    width: 28.8%;
}
.textarea_w:last-child {
	margin-right: 0px;
}
.textarea_new {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    color: #999999;
    float: left;
    font-family: 'segoe_light';
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 8px;
    width: 22%;
}
.textarea_new:last-child {
	margin-right: 0px;
}
.inner_left  .textarea_w {
    background: none repeat scroll 0 0 #FFFFFF;
    /*border: 1px solid #ECECEC;*/
    border-radius: 5px;
    color: #999999;
    float: left;
    font-family: 'segoe_light';
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 8px;
    width: 92%;
}
.inner_right  .textarea_w {
    background: none repeat scroll 0 0 #FFFFFF;
    /*border: 1px solid #ECECEC;*/
    border-radius: 5px;
    color: #999999;
    float: left;
    font-family: 'segoe_light';
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 8px;
    width: 92%;
}
.step3 {
	float: left;
	width: 80%;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #ccc;
	background: #fff;
	padding: 10px;
}
.step4_main_outer{ 
	float:left; 
	width:50%; 
}
.step4{ 
	float:left; 
	width:80%; 
	border-radius: 5px; 
	box-shadow:1px 1px 5px #ccc; 
	background:#fff;  
	padding:10px; 
}
/* dashboard profile - 16&17dec ends here */

/* dashboard profile - 18dec start here */

.step5_mid_outer {
	float:left;
	width:100%;
}
.step5 {
	float:left;
	width:97%;
	border-radius:5px;
	box-shadow:1px 1px 5px #ccc;
	background:#fff;
	padding:10px;
}
.gray_outer_skill{ 
	float:left;  
	background:#f8f8f8;  
	border-radius: 5px;
	 width:100%;
 }
.step6 {
	float:left;
	width:97%;
	border-radius:5px;
	box-shadow:1px 1px 5px #ccc;
	background:#fff;
	padding:10px;
	margin-top: 10px;
}

.skill_left_outer{ 
	float:left; 
	width:338px;
}
.f10_outer{ 
	float:left; 
	width:100%;
}
.arrow10_outer{ 
	float:left; 
	width:66px; 
	margin-left:110px;
}
.step7_outer{ 
	float:left; 
	width:400px;
}
.step7 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #CCCCCC;
    float: left;
    padding: 10px;
    width: 85%;
}
.eleven_arrow_outer {
    float: left;
    margin-left: -40px;
    padding-top: 280px;
    width: 82px;
}
.head11_text_large{ 
	float:left; 
	width:100%; 
	padding:0px 0px 10px 0px; 
	color:#999; 
	font-size:20px; 
	margin-top:5px;
}
.text_arrow_outer{
	float: left;
	width: 100%;
}
.f12_outer{
	float: left;
	width: 25%;
}
.left_arrow {
    float: left;
    height: 87px;
    margin-left: 135px;
    width: 17px;
}
.right_arrow {
    float: right;
    height: 87px;
    margin-right: 135px;
    width: 17px;
}
select {
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    color: #999999;
    float: left;
    font-family: 'segoe_light';
    font-size: 16px;
    font-weight: normal;
    height: 38px;
    line-height: 30px;
    margin-right: 10px;
    padding: 8px;
    width: 20%;
	cursor: pointer;
}
.head_text_large1{
	color: #999999;
    float: left;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 45px;
    width: 50%;
}
.red_butt{ 
	float:right; 
	margin:10px 0px;  
	color:#fff; 
}
.red_butt a{ 
	text-decoration:none; 
	color:#fff; 
	padding:10px 15px 10px 15px ; 
	font-size:16px;  
	transition: all 600ms ease-in-out 0s; 
	background:#f74747; 
}
.red_butt a:hover{ 
	color:#fff; 
	background:#333;  
}
.inner_left .size7 {
    margin-right: 0;
    width: 40%;
}
.inner_left .size8 {
    float: right;
    margin-right: 0;
    width: 40%;
}
.row_outer .size11{ 
	width:80%;  
}
.mix_inner{
	float: left;
	width: 100%;
}
/* dashboard profile - 18dec end here */

/* dashboard jobs - 18dec start here */

.dashjobs_right {
    float: right;
    margin: 0 10px 20px;
    width: 75%;
}
.jobs_box {
    float: left;
    position: relative;
    top: -13px;
    width: 100%;
}
.jobs_box_blue {
    background: none repeat scroll 0 0 #2CCAFD;
    float: left;
    height: 40px;
    padding: 10px;
    width: 98%;
}
.jobs_box1_blue_span {
    background: url("../images/blue_span.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -4px;
    height: 13px;
    position: relative;
    right: -12px;
    width: 12px;
	float: right;
}
.jobs_tag_outer {
    border-bottom: 1px solid #FFFFFF;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: 100%;
}
/*.jobs_tag {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    padding: 7px;
	font-size: 13px;
	color: #000;
	float: left;
	margin-right: 10px;
}*/
.jobs_tag {
    background-color: #FFFFFF;
    border-radius: 3px;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: hidden;
    padding: 7px;
    position: relative;
    transition: all 0.25s linear 0s;
    vertical-align: middle;
}
/*.jobs_tag:hover {
	padding-left: 12px;
	padding-right: 12px;
}*/
/*.tag_remove{
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 7px 5px 0;
    position: absolute;
    text-align: right;
    text-decoration: none;
    width: 100%;
    z-index: 2;
	background: url("../images/tag_remove.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.tag_remove:hover{
    opacity: 1;
	background: url("../images/tag_remove.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}*/
.tag_remove {
    background: url("../images/tag_remove.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 9px;
    margin-left: 10px;
    margin-top: 5px;
    width: 9px;
}

/* dashboard jobs - 18dec end here */

/* dashboard jobs - 19dec start here */

.jobs_link_outer{
	float: left;
	width: 100%;
}
.jobs_nav{
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.jobs_nav li {
    display: inline-block;
    float: left;
    list-style: none outside none;
    padding-right: 10px;
    position: relative;
    width: 12%;
}
.jobs_nav li:hover{
	background: #fff;
	color: #999;
	border-radius: 5px 5px 0px 0px;
}
.jobs_nav li a .menu:hover{
	color: #999!important;
}
.jobs_nav li a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.jobs_nav li a .menu {
    float: left;
    padding: 7px 15px;
}
.jobs_nav li a .nav_arrow {
    background: url("../images/nav_arw.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 9px;
    margin-top: 15px;
    width: 8px;
}
.jobs_nav li a .nav_arrow:hover {
    background: url("../images/nav_arw_hover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.jobs_nav li:hover .jobs_sub_nav{
	display: block;
}
.jobs_sub_nav {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 5px 5px 5px;
    box-shadow: 1px 1px 3px #999999;
    float: left;
    margin: 0;
    padding: 0;
	display: none;
	position: absolute;
	margin-top: 35px;
	z-index: 999;
}
.jobs_sub_nav li {
    border-bottom: 1px dotted #BBBBBB;
    float: none;
    line-height: 20px;
    min-width: 140px;
    padding: 5px 15px;
	border-radius: 0px 0px 0px 0px;
}
.jobs_sub_nav li:last-child{
	border-bottom: none;
	border-radius: 0px 0px 5px 5px;
}
.jobs_sub_nav li a {
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}
.jobs_box_inner{
	float: left;
	width: 100%;
}
.jobs_title{
	color: #999;
	font-size: 20px;
	padding-top: 20px;
}
.jobs_box_inner_main {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #CCCCCC;
    float: left;
    padding: 10px;
    width: 97%;
	margin-top: 10px;
}
.jobs_row {
    background: none repeat scroll 0 0 #F8F8F8;
    border-bottom: 1px solid #D3D1D1;
    border-top: 1px solid #FFFFFF;
    float: left;
    padding: 10px;
    width: 97%;
}
.jobs_row_section1{
	float: left;
	width: 100%;
}
.company_img{
	float: left;
	width: 50px;
}
.company_info {
    float: left;
    margin-left: 15px;
    width: 90%;
}
.company_title {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.company_detail{
	color: #000;
    font-size: 14px;
    font-weight: normal;
}
.company_skills {
    color: #999999;
    font-family: "segoe_light";
    font-size: 14px;
}
.jobs_row_expand{
	background: #fff;
}
.jobs_row_section2 {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 0 10px 10px;
    width: 97%;
}
.jobs_btn{
	float: left;
	width: 100%;
	margin: 15px 0px;
}
.jobs_blue_btn{
	background: #2ccafd;
	padding: 5px 12px;
	float: left;
	border: 1px solid #0caee2;
	font-size: 14px;
	color: #fff;
	text-decoration:none;
	margin-right: 10px;
}
.jobs_grey_btn{
	background: #e9eaec;
	padding: 5px 12px;
	float: left;
	border: 1px solid #c9c9c9;
	font-size: 14px;
	color: #000;
	text-decoration:none;
}
.jobs_row_section2_inner {
    border-bottom: 1px solid #E6E6E6;
    float: left;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}
.jobs_row_section2_inner:last-child {
    border-bottom: none;
}
.jobs_row_section2_inner_left{
	float: left;
	width: 20%;
}
.jobs_row_section2_title{
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
	font-weight: bold;
}
.jobs_row_section2_inner_right{
	float: left;
	width: 80%;
}
.jobs_row_section2_inner_right_main{
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.jobs_row_section2_info {
    color: #000;
    font-size: 14px;
    line-height: 18px;
}
.jobs_row_section2_img{
	float: left;
	width: 100%;
}
.dashjobs_img{
	margin-right: 10px;
    margin-top: 10px;
}
.jobs_row_section2_inner_right1{
	float: left;
	width: 10%;
}
.jobs_row_section2_inner_right1 .dashjobs_img {
    margin-right: 10px;
    margin-top: 0px;
}
.jobs_row_section2_inner_right2 {
    float: left;
    margin-left: 15px;
    width: 85%;
}
.jobs_row_section2_inner_right2_title{
	color: #000;
    font-size: 14px;
	font-weight: bold;
}
.founder_text{
	font-size: 14px;
	color: #999;	
}
.jobs_row_section2_title_blue{
	font-size: 14px;
	color: #2ccafd;
	font-weight: bold;
	text-transform: uppercase;
}
.job_profile{
	float: left;
	width: 70%;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.job_salary{
	float: right;
	font-size: 14px;
	color: #000;
}
.job_info {
    color: #999999;
    float: left;
    font-size: 14px;
    width: 100%;
	padding-top: 5px;
}
.jobs_row_section2_bottom_left{
	float: left;
	width: 50%;
	color: #2CCAFD;
}
.jobs_row_section2_bottom_left a {
    color: #2CCAFD;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.jobs_row_section2_bottom_right {
	float: right;
	color: #999;
	font-size: 14px;
}

/* dashboard jobs - accordion start here */
.ac-container {
    background: none repeat scroll 0 0 #F8F8F8;
    float: left;
    margin: 0px auto;
    text-align: left;
    width: 100%;
	border-radius: 5px;
}
.ac-container label {
    border-bottom: 1px solid #D3D1D1;
    color: #777777;
    cursor: pointer;
    display: block;
    font-size: 19px;
    height: 60px;
    padding: 10px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    z-index: 20;
}
.ac-container label:hover{
	background: #f8f8f8;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #fff;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 25px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: #fff;
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}
.ac-container input:checked ~ article.ac-small{
	height: 705px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}
/* dashboard jobs - accordion end here */

/* dashboard jobs - 19dec end here */
/*dashboard status start 20dec {SA}*/
.dashpro_left_box {
    float: left;
    width: 100%;
}
.dashpro_right_status
{
    float: left;
    min-height: 427px;
    width: 100%;
}
.dashpro_right_status h2
{
    color: #999999;
    float: left;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}
.status_outrrr
{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #999;
    float: left;
    padding: 10px;
    width: 94%;
    min-height:200px;
}
.status_inner
{
    background: none repeat scroll 0 0 #F8F8F8;
    border-radius: 5px;
    float: left;
    min-height: 200px;;
    width: 100%;
}
.status_table
{
    border-bottom: 1px solid #FFFFFF;
    float: left;
    padding: 0 10px;
    width: 97%;
}
.status_table b
{
    border-right: 1px solid #FFFFFF;
    color: #444444;
    float: left;
    font-family: "segoe_light";
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 39%;
}
.status_table .table_width
{
    border-right: 1px solid #FFFFFF;
    text-align: center;
    width: 20%;
}
.status_table .table_width_first
{
    border-right: 1px solid #FFFFFF;
}
.status_table p
{
    color: #444444;
    float: left;
    font-family: "segoe_light";
    font-size: 16px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 10px;
    width:39%;
}
a:hover
{
	transition: all 600ms ease-in-out 0s; 
}
input:focus, textarea:focus, select:focus
{
	border:1px solid #2CCAFD;
	/*box-shadow: 0px 0px 1px #2CCAFD;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);

	background:#fff;
	transition: all 600ms ease-in-out 0s; 
}

/*dashboard status end 20dec {SA}*/
/*dashboard jobs changes start 28dec {SA}*/
.jobs_box {
    float: left;
    position: relative;
    top: -13px;
    width: 100%;
}
.jobs_box_blue {
    background: none repeat scroll 0 0 #2CCAFD;
    float: left;
    height: 60px;
    padding: 10px;
	padding-top:0px;
    width: 98%;
}
.jobs_box_blue p
{
	float:left;
	width:98%;
	margin:0px;
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
}
.tags
{
	float:left;
	min-width:40%;
	padding:7px;
	margin-top:5px;
	border:none;
	border:1px solid #fff;
}

.step6 p
{
	color: #999999;
    float: left;
    font-size: 14px;
    margin: 0 0 10px;
    width: 98%;
}
/*dashboard jobs changes end 28dec {SA}*/