@font-face {
    font-family: 'segoe_light';
    src: url('../fonts/segoeuil-webfont.eot');
    src: url('../fonts/segoeuil-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoeuil-webfont.woff') format('woff'),
         url('../fonts/segoeuil-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



body{ margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; color:#000; background:#fff; font-family:"segoe_light"; }
#main_outer{ float:left; width:100%;}

#top_outer {
    background: none repeat scroll 0 0 #666666;
    border-bottom: 5px solid #2CCAFD;
    float: left;
    padding-bottom: 5px;
    position: fixed;
    width: 100%;
    z-index: 999;
}
#top_wrapper{ margin:0 auto; width:998px; background:#fff; }
.banner{ float:left; width:100%;}
.logo_outer{ float:left; width:355px;margin:12px 5px 5px 0px;}
.top_menu_outer{ float:right; width:180px; margin:35px 5px 5px 5px;}
.top_nav{ margin:0; padding:0; float:left;}
.top_nav li{ float:left; display:inline; color:#666; font-size:15px; font-family: 'segoe_light';  }
.top_nav li a{ text-decoration:none; color:#666;  font-size:15px;  font-family: 'segoe_light'; }
.top_nav li a:hover{ color:#333;}
.top_nav li span{ margin-left:10px; margin-right:10px;}
#mid_outer{ background: url("../images/flash_bg.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    float: left;
    height: 539px;
    padding-bottom: 5px;
    width: 100%; }
#company_outer{ background: url("../images/flash_bg_company.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    float: left;
    height: 539px;
    padding-bottom: 5px;
    width: 100%; }	
#form_outer{ float:left;  padding-bottom:5px;    width: 100%; background:#fff; }		

#form_wrapper{ margin:0 auto; width:998px; min-height:261px; }
#form_outer_two{ float:left;    width: 100%;}	
.form_wrapper_two{ margin:0 auto; width:998px; min-height:200px; }
#mid_wrapper{ margin:0 auto; width:998px; background:#fff; }


.head_nav{ margin:0;  padding:0; margin-left:6px; font-family:'calibri'; }
.head_nav li{ float:left; display:inline; margin-right:25px; margin-left:2px; position:relative;  }
.head_nav li a{ text-decoration:none; color:#3d2c2c;  font-size:16px; font-family:'calibri'; padding-bottom:10px; }
.head_nav li a:hover{ color:#000;}

.slider_outer{ float:left; width:100%; margin-top:15px;}
#white_outer{ float:left; width:100%;}
#white_wrapper{ margin:0 auto; width:998px; padding-top:25px; padding-bottom:25px; text-align:center; font-size:40px;  font-family: 'segoe_light'; color:#999; }
.top_form_text{ float:left; width:100%;  padding-top:25px; padding-bottom:25px; text-align:center; font-size:35px;  font-family: 'segoe_light'; color:#999; }
.top_form_smalltext{ float:left; width:94%;  padding:10px 30px 10px 30px;  text-align:center; font-size:17px;  font-family: 'segoe_light'; color:#999; line-height:30px; }
.mid_nav_outer_main{ float:left; width:100%; padding-bottom:10px; }
.mid_nav_outer{ float:left; width:562px; background:#7a548e; padding:3px; padding-left:5px; min-height:25px; margin-top:38px; margin-left:217px; }
.mid_nav{ margin:0;  padding:0;  font-family:'calibri'; text-align:center; }
.mid_nav li{ float:left; display:inline;  position:relative; padding:3px 0px 3px 0px;  margin:0px 1px 0px 1px;  }
.mid_nav li a{ text-decoration:none; color:#fff;   font-size:16px; font-family: 'segoe_light'; padding-bottom:10px;  padding:3px 15px 3px 15px;  }
.mid_nav li a:hover{ color:#000; background:#fff;}
.mid_nav li .active{color:#000; background:#fff; }

<!--form page-->

<!--form page end-->



#content_outer{ float:left; width:100%; background:#e9eaec;}
#content_wrapper{ margin:0 auto; width:998px;}

#footer_outer{ float:left; width:100%;  border-top:1px solid #e2e2e2; padding-top:5px; background:#fff; }
#footer_wrapper{ margin:0 auto; width:998px; min-height:50px; }
#icon_outer_main{ float:left; margin:10px;}
.footer_icon_outer{ float:left; width:28px; height:31px; margin-right:5px; }
.footer_text{ float:left; margin:10px 0px 0px 10px; font-size:12px; color:#999; padding-top:8px;}
.footer_logo{ float:right;}






/*slider*/
/* SLIDER STYLES */
	
.slider-wrapper{
	position:relative;
	overflow:hidden; margin-top:30px;
	width:100%;

}

.slider{
	position:relative;
	width:100%; 
/*	height:400px; when responsive, comment this out */
	margin:0 auto;
}

@media only screen and (min-width: 1000px){
	.slider{
		width:1000px;
	}
}

@media only screen and (min-width: 1440px){
	.slider{
		width:1440px;
	}
}

/* ELEMENT STYLES */

p{
	position:absolute;
	top:-200px;
	
	z-index:8000;
	padding:1% 3%;
	
	font-size:24px;
	line-height:100%
	color:#fff;
	white-space: nowrap;
	text-transform:uppercase;
}

.claim{
	line-height:100%
}	

.teaser{
	padding:0.5% 1.5%;
	font-size:14px;
	 line-height:100%
}

.small{
	width:250px;
   padding-left:0; padding-right:0px;
	text-align:center;
}

.light-green{ font-size:45px; color:#fff; line-height:55px;  }
.dark_taxt{ font-size:45px; color:#fff; line-height:55px;  }
.green{ color:#fff;}
.orange{background:url(../images/black_bg_slider.png) repeat-x; height:52px; width:100%;padding:10px 8px 8px 8px; color:#fff; text-transform:lowercase; line-height:15px;}
.small{background:url(../images/black_bg_slider.png) repeat-x;  width:100%;padding:10px 8px 10px 8px; color:#fff; text-transform:lowercase; text-align:left; line-height:15px;}
.turky{background:#348E8A}
.white{background:#fff; color:#333}
/*slider outer*/


.comp_box{ float:left; width:260px; margin:55px 0px 55px 55px; }
.comp_box_inner{  float:left; width:260px; background:#fff;  min-height:300px; box-shadow:1px 1px 3px #999; position:relative;  	}	
.comp_box_inner:hover{}
.blak_box{ background:url(../images/black_bg_slider.png) repeat; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; width:240px; height:260px; position:absolute; margin:10px;  }
.comp_logo{ width:100%; margin-top:20px; text-align:center; padding-top:15px;}	
.comp_detail{ width:240px; margin-top:15px; text-align:center; padding:8px; color:#999; font-size:13px; line-height:22px; text-align:left;}

.comp_name{ float:left; width:100%; text-align:center; font-size:18px; font-weight:bold; color:#666; margin-top:25px;}


.form_main_outer{ float:left; width:100%;  }
.form_main_inner{ margin:0 auto; width:998px; padding-bottom:15px; }
.color_strip_outer{ float: left;    width: 100%; margin-top:0px; background:#e9eaec; }
.color_strip_inner{ float:left; width:40%; }
.main_form_outer{ float:left;  padding-bottom:5px;    width: 100%; background:url(../images/form_bg1.jpg) repeat; }	
.main_form_inner{ margin:0 auto; width:998px;   }
.head_text_large{ float:left; width:100%; padding:10px 0px 10px 0px; color:#999; font-size:24px; margin-top:15px;}
.first_outer{ float:left; width:100%; position:relative;}
.mix_outer{ float:left; width:100%;}
.center_position{ text-align:center;  }
.center_position1{ text-align:center; margin-top:-35px;  }
.textarea{ float:left; background:#f4f5f6; font-size:16px; color:#999;  padding:10px; border:1px solid #ececec; width:95%; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin-bottom:15px; font-family: 'segoe_light'; }
.textarea_w{ float:left; background:#fff; font-size:16px; color:#999;  padding:10px; border:1px solid #ececec; width:95%; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; margin-bottom:15px; font-family: 'segoe_light'; }
.size1{ width:29%; margin-right:3%;}
.size2{ width:56%; float:right; }
.step1{ float:left; width:400px;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:23px; margin-top:10px; padding-bottom:10px; }
.first_arrow{ float:left; width:102px; height:175px; margin-top:138px; }
.step2{ float:left; width:100%;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:10px; margin-top:10px; padding-bottom:10px; }
.gray_outer{ float:left; padding:13px; background:#f8f8f8;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.gray_outer_skill{ float:left;  background:#f8f8f8;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; width:100%;}
.container_outer{float:left; width:100%;}
.row_outer{ float:left; width:100%;}
.size3{ width:29%; margin-right:3%  }
.size4{ width:28%; }
.size5{ width:46%; margin-right:2%; }
.size6{ width:44%;  }
.size7{ width:40%; margin-right:4%;  }
.size8{ width:41%;   }
.inner_left{ float:left; width:47%; margin-right:4%;}
.inner_right{ float:left; width:48%; }

.red_butt{ float:right; padding:10px;  color:#fff; }
.red_butt a{ text-decoration:none; color:#fff; padding:10px 15px 10px 15px ; font-size:16px;  background:#f74747; }
.red_butt a:hover{ color:#fff; background:#333;  }
.step3_main_outer{ float:left; width:81%;}
.step3{ float:left; width:100%;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:10px; margin-top:10px; padding-bottom:10px;   }
.step3_head_set{ margin-top:53px; width:60%;}
.step3_inner{ float:left;width:100%;}
.second_arrow{ float:left; width:102px; margin-left:25px;}
.left_arrow_outer{ float:left; width:102px; margin-left:170px; }
.right_arrow_outer{ float:left; width:102px; margin-top:416px; margin-left:-28px;  }
.third_arrow{ float:left; width:102px; height:216px;  }
.fourth_arrow{ float:left; width:102px;  margin-top:200px;   }
.step4_main_outer{ float:left; width:48%; margin-top:47px;}
.step4{ float:left; width:90%;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:10px; padding-bottom:0px; margin-top:10px;  }
.step5_left{ float:left; width:119px; } 
.step5_right{ float:left; width:119px; } 
.step5_mid_outer{ float:left; width:76%}
.step5{ float:left; width:97%;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:10px; padding-bottom:10px; margin-top:10px;  }
.step6{ float:left; width:97%;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:10px; margin-top:10px; padding-bottom:10px; }
.size9{ width:28%; margin-right:3%  }
.step5_arrow1{ float:left; margin-top:590px;}
.step5_arrow2{ float:left; margin-top:90px;}
.step5_arrow3{ float:left; margin-top:70px;}
.step5_arrow4{ float:left; margin-top:80px;}

.skill_head_outer{ float:left;width:100%; border-bottom:1px solid #fff;}
.skill_row_outer{ float:left;width:100%; border-bottom:1px solid #fff;}
.skill_top_head{ float:right; width:380px;  }
.skill_text_outer{float:left; border-left:1px solid #fff; padding:5px; width:65px; color:#c2c2c2; font-size:18px; text-align:center; padding-top:10px; }
.skill_text_outer1{float:left; border-left:1px solid #fff;  padding:5px; width:65px; color:#c2c2c2; font-size:18px; text-align:center; padding-top:10px; }
.skill_textrow_outer{float:left; border-left:1px solid #fff; padding:5px; width:65px;  text-align:center; min-height:45px;  }
.skill_textrow_outer1{float:left; border-left:1px solid #fff;  padding:5px; width:65px; color:#c2c2c2; font-size:18px; text-align:center; min-height:45px; }
.skill_left_outer{ float:left; width:352px;}
.lable_text{ float:left; padding:12px 0px 8px 8px; font-size:22px; color:#999999; width:100px;  }
.skilltext_area{ float:left; width:215px; margin-left:5px; padding:5px;}
.textarea_skill{ float:left; background:#fff; font-size:16px; color:#999;  padding:10px; border:1px solid #ececec; width:95%; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; font-family: 'segoe_light'; }

.add_outer{ float:left; margin-top:-24px;  padding:3px 5px 3px 5px; font-size:12px; color:#f74747; text-decoration:none; }

.skill_main_outer{ float:left; width:100%;}
.f10_outer{ float:left; width:100%;}
.arrow10_outer{ float:left; width:66px; margin-left:20px;}
.step7_outer{ float:left; width:400px;}
.step7{ float:left; width:88%;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:23px; margin-top:10px; padding-bottom:10px; }
.eleven_arrow_outer{ float:left; width:82px; padding-top:300px;}
.f11_outer{ float:left; width:100%;}
.head11_text_large{ float:left; width:100%; padding:0px 0px 10px 0px; color:#999; font-size:24px; margin-top:5px;}
.step8{ float:left; width:97%;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:10px; margin-top:10px; padding-bottom:10px; }
.step8_gray_outer{ float:left; padding:13px; background:#f8f8f8;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; width:96%;}
.step8_inner_text{ float:left; width:98%; padding:5px;  color:#999; font-size:18px; margin-bottom:5px;}
.size11{ width:80%;  }
.last_arrow{ float:left; width:17px; height:87px; margin-left:375px;}
.submit_butt{ float:left; width:143px; height:142px; background:url(../images/submitt_butt.png) no-repeat; cursor:pointer; border:0; margin-left:314px; margin-top:10px; margin-bottom:20px;}
.submit_butt:hover{ background:url(../images/submitt_butt_h.png) no-repeat;}

/* 6&7 dec starts*/

.comp_box_main {
    float: left;
    margin: 50px 0 0;
    width: 998px;
}
.comp_box {
    float: left;
    margin: 0 0 55px 55px;
    width: 260px;
}
.comp_box_inner {
    background: none repeat scroll 0 0 #FFFFFF;
    /*box-shadow: 0 0 3px #CCCCCC;*/
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.02);
    float: left;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    width: 260px;
}
.comp_box_inner:hover{
	transition-duration: 0.1s;
    transition-property: all;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 13px 1px rgba(0, 0, 0, 0.07);
}
.comp_logo{ width:100%; margin-top:20px; text-align:center; padding-top:15px;}	
.comp_detail{ width:240px; margin-top:15px; text-align:center; padding:10px; color:#999; font-size:13px; line-height:22px; text-align:left; min-height: 55px;}

.comp_name{ float:left; width:100%; text-align:center; font-size:18px; font-weight:bold; color:#666; margin-top:25px;}

/*.comp_box .comp_content {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    bottom: 0;
    cursor: pointer;
    margin: 10px;
    min-height: 260px;
    padding: 10px;
    position: absolute;
    transition: all 1s ease-in 0s;
    width: 220px;
}*/
.comp_box .comp_content {
    cursor: pointer;
    height: 87%;
    margin: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 85%;
	transition: all 1s ease-in 0s;
	display: none;
	background: #fff;
}
.comp_box:hover .comp_content{
	background: #fff;
	/*background:rgba(233, 234, 236, 1);*/
	transition: all 1s ease-in 0s;
	display:block;
}
.comp_content .comp_content_text{
	font-size: 13px;
	color: #000;
}
.comp_content_text ul {
    padding: 0px;
	margin: 0px;
}
.comp_content_text ul li {
    float: left;
    list-style: none outside none;
    margin-bottom: 5px;
    width: 100%;
}
.comp_content_text ul li span.title {
    background: none repeat scroll 0 0 #B5B5B5;
    color: #FFFFFF;
    float: left;
    padding: 10px 0;
    text-align: center;
    width: 33%;
}
.comp_content_text ul li span.title_info {
    background: none repeat scroll 0 0 #CECECE;
    float: left;
    margin-left: 5px;
    padding: 10px 5px;
    width: 60%;
}
.button {
    display: block;
    float: left;
    padding-bottom: 35px;
    text-align: center;
    width: 100%;
}
.btn-purple {
    background-color: #634574;
    background-image: -moz-linear-gradient(center top , #6D4B7F 0px, #634574 100%);
    border: 0 none;
    border-radius: 2px;
    color: #FFFFFF !important;
    font-size: 14px;
    font-weight: bold;
    padding: 18px 40px;
    text-decoration: none;
    text-transform: uppercase;
}
.btn-purple:hover {
    background-color: #6d4b7f;
    background-image: -moz-linear-gradient(center top , #7a548e 0px, #6d4b7f 100%);
    color: #FFFFFF !important;
    text-decoration: none;
}
#page2_slider{ 
	background: url("../images/front-page2_slider.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    float: left;
    height: 307px;
    padding-bottom: 5px;
    width: 100%; 
}
#white_content_outer{ 
	float:left; 
	width:100%; 
	background:#fff;
}
#white_content_wrapper{ 
	margin:0 auto; 
	width:998px;
}
.white_content_wrapper_main{
	float: left;
	width: 100%;
	margin: 70px 0px;
}
.white_col_left{
	float: left;
	width: 52%;
}
.white_col_left h1.title{
	font-size: 35px;
	color: #414343;
	padding:0px;
	margin: 0px;
}
.white_col_left .title_info {
    color: #888888;
    font-size: 25px;
    font-weight: bold;
	line-height: 30px;
}
.white_col_right{
	float: left;
	width: 48%;
}
.white_col_right .icon_img {
    float: right;
    margin-right: 10%;
}
#grey_content_outer {
    background: none repeat scroll 0 0 #E5E5E5;
    border-bottom: 1px solid #CBCBCB;
    border-top: 1px solid #CBCBCB;
    float: left;
    width: 100%;
}
#grey_content_wrapper{ 
	margin:0 auto; 
	width:998px;
}
.grey_content_wrapper_main{
	float: left;
	width: 100%;
	margin: 70px 0px;
}
.grey_col_right{
	float: left;
	width: 52%;
}
.grey_col_right h1.title{
	font-size: 35px;
	color: #414343;
	padding:0px;
	margin: 0px;
}
.grey_col_right .title_info {
    color: #888888;
    font-size: 25px;
    font-weight: bold;
	line-height: 30px;
}
.grey_col_left{
	float: left;
	width: 48%;
}
.grey_col_left .icon_img {
    float: left;
	margin-left: 10%;
}
.btn-red {
    display: block;
    margin: 30px 0;
    text-align: center;
}

/* 6&7 dec end */
/* 9 dec start */

.page2_sliderinfo{
	padding:15px!important;
	height: auto!important;
}
#page3_slider{
	background: url("../images/page3_slider.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    float: left;
    height: 307px;
    padding-bottom: 5px;
    width: 100%; 
}
.page3_white_content_wrapper_main{
	float: left;
    margin: 50px 0;
    width: 100%;
}
.page3_white_col_left{
	float: left;
	width: 50%;
}
.page3_white_col_right{
	float: left;
	width: 50%;
}
.page3_white_col_left .numeric_text {
    color: #855C9C;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
}
.page3_white_col_left_content{
	float: left;
	width: 100%;
	text-align: center;
}
.page3_white_col_left_content .icon_img{
	
}
.page3_white_col_left h2.title {
    color: #855c9c;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.page3_white_col_left_content .title_info {
    color: #888888;
    font-size: 18px;
    font-weight: bold;
    padding: 0 40px;
}
#purple_content_outer{ 
	float:left; 
	width:100%; 
	background:#855c9c;
}
#purple_content_wrapper{ 
	margin:0 auto; 
	width:998px;
}
.page3_purple_content_wrapper_main{
	float: left;
    margin: 50px 0;
    width: 100%;
}
.page3_purple_col_left{
	float: left;
	width: 50%;
}
.page3_purple_col_right{
	float: left;
	width: 50%;
}
.page3_purple_col_left .numeric_text {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
}
.page3_purple_col_left_content{
	float: left;
	width: 100%;
	text-align: center;
}
.page3_purple_col_left_content .icon_img{
	
}
.page3_purple_col_left h2.title {
    color: #fff;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.page3_purple_col_left_content .title_info {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 0 40px;
}

/* 9 dec end */
/*sahil changes 7dec*/
.footer_icon_outer_g
{
	float:left;
	width:28px;
	height:31px;
}
.footer_icon_outer_g a
{
	float:left;
	width:28px;
	height:31px;
	background:url(../images/g_icon.png) no-repeat;
}
.footer_icon_outer_g a:hover
{
	background: url("../images/google_c.png") no-repeat scroll 4px 4px rgba(0, 0, 0, 0);
}
.footer_icon_outer_fb
{
	float:left;
	width:28px;
	height:31px;
}
.footer_icon_outer_fb a
{
	float:left;
	width:28px;
	height:31px;
	background: url(../images/f_icon.png);
}
.footer_icon_outer_fb a:hover
{
	background: url(../images/fb_c.png) no-repeat scroll 0px 4px rgba(0, 0, 0, 0);
}
.footer_icon_outer_tw
{
	float:left;
	width:28px;
	height:31px;
}
.footer_icon_outer_tw a
{
	float:left;
	width:28px;
	height:31px;
	background: url(../images/tweet_icon.png) no-repeat;
}
.footer_icon_outer_tw a:hover
{
	background: url(../images/twitter_c.png) no-repeat scroll 3px 4px rgba(0, 0, 0, 0);
}
.footer_icon_outer_you
{
	float:left;
	width:28px;
	height:31px;
}
.footer_icon_outer_you a
{
	float:left;
	width:28px;
	height:31px;
	background: url(../images/youtube_icon.png) no-repeat;
}
.footer_icon_outer_you a:hover
{
	background: url(../images/youtube_c.png) no-repeat scroll 3px 4px rgba(0, 0, 0, 0);
}
#content_outer{ float:left; width:100%; background:#e9eaec;}
.login_register_outer
{
	float: left;
    position: relative;
    width: 100%;
	margin-bottom:50px;
}
.login_text{ float:left; width:94%;  padding:10px 30px 10px 30px;  font-size:17px;  font-family: 'segoe_light'; color:#999; line-height:26px; }
.forget_password{float:left; width:auto; color:#999; margin-bottom:10px; font-size:12px; text-decoration:none;}
.forget_password:hover{text-decoration: underline;}
.login_butn
{
	float:left;
	width:90%;
	margin-bottom:12px;
}
.login_butn a
{
	float:left;
	width:auto;
	background:#70497b;
	color: #FFFFFF;
    font-size: 16px;
    padding: 10px 15px;
    text-decoration: none;
}
.login_butn a:hover
{
	
	background:#999;
}
.arrow_text
{
	background: url("../images/down_arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #999999;
    float: left;
    height: 36px;
    left: 260px;
    padding: 10px;
    position: absolute;
    top: 255px;
    width: 277px;
}
.register_box
{
	float:right; width:400px;  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; box-shadow:1px 1px 5px #ccc; background:#fff;  padding:23px; margin-top:10px; padding-bottom:10px;
}
/*sahil changes 7dec*/


#page4_slider{
	background: url("../images/page4_slider.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    float: left;
    height: 307px;
    padding-bottom: 5px;
    width: 100%; 
}

.white_content_outer_p{ 
	float:left; 
	width:100%; 
	background:#fff;
}
.white_content_wrapper_p{ 
	margin:0 auto; 
	width:998px;
}
.page4_white_content_wrapper_main{
	float: left;
    margin: 40px 0;
    width: 100%; text-align:center; font-size:34px; line-height:45px; color:#a1a1a1;
}
.gray_content_outer{ 
	float:left; 
	width:100%; 
	background:#e9e9e9; border-top:1px solid #a1a1a1; border-bottom:1px solid #a1a1a1;
}
.gray_content_wrapper{ 
	margin:0 auto; 
	width:998px;
}
.page4_gray_content_wrapper_main{
	float: left;
    margin: 40px 0;
    width: 100%;
}
.gray_box_small_outer{ float:left; width:260px; margin:0px 0px 0px 55px; }
.img_outer{ float:left; width:76px; height:80px;  position:relative;  margin:13px 90px 0px 88px; }
.img_frame{ position:absolute; z-index:1; width:105px; height:94px; background:url(../images/image_frame.png) no-repeat; margin-left:72px;}
.image_name{ float:left; width:96%; font-size:24px; color:#a1a1a1; padding:5px; text-align:center; }
.white_box_outer{ float:left; width:92%; padding:10px; box-shadow:1px 1px 5px #999; background:#fff; }
.white_box_outer .top_text_outer{ float:left; width:100%; border-bottom:1px solid #d7d7d7; color:#999999; font-size:15px; line-height:23px; padding-bottom:8px;}
.white_box_outer .largetext_outer{ float:left; width:95%; color:#999; font-size:18px; line-height:28px; padding-bottom:8px; text-align:center; padding:5px;}

#page5_slider{
	background: url("../images/page5_slider.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    float: left;
    height: 307px;
    padding-bottom: 5px;
    width: 100%; 
}
.page5_white_content_wrapper_main{
	float: left;
    margin: 40px 0;
    width: 100%; 
}
.gray_box_small_outer5{ float:left; width:300px; margin:0px 0px 0px 25px; }
.plane_box_outer{ float:left; width:92%; padding:10px;  }
.graytop_text_outer{ float:left; width:100%;  color:#999999; font-size:15px; line-height:23px; padding-bottom:8px; text-align:center;}
.name_head{ float:left; width:96%; font-size:24px; color:#333t; padding:5px; text-align:center; }
.graytop_text_outer2{ float:left; width:100%;  color:#999999; font-size:15px; line-height:23px; padding-bottom:8px; text-align:center; min-height:140px;}
.left_text_outer{ float:left; width:75px; color:#999; font-size:16px; line-height:28px; padding-bottom:8px;   font-weight:bold;}
.right_text_outer{ float:left; width:140px; color:#999; font-size:16px; line-height:22px; padding-bottom:8px;  padding:5px; text-align:left; margin-left:2px; }
input[type="radio"]{
    display:none; 
}

input[type="radio"] + label
{
    background:url(../images/chk.png) no-repeat;
    height: 56px;
    width: 57px;
    display:inline-block;
    padding: 0 0 0 0px;cursor:pointer;
}

input[type="radio"]:checked + label
{
     background:url(../images/chk_active.png) no-repeat;
    height: 56px;
    width: 57px;
    display:inline-block;
    padding: 0 0 0 0px;
}
.chk_outer{ float:left; width:64px; height:57px;  padding-left:11px; border-right:1px solid #fff; cursor:pointer;}

#about_slider{
	background: url("../images/about_page_slider.jpg") no-repeat scroll center center / cover rgba(0, 0, 0, 0);
    float: left;
    height: 307px;
    padding-bottom: 5px;
    width: 100%; 
}
.about_text_outer{ float:left; width:100%;  color:#999999; font-size:17px; line-height:23px; padding-bottom:8px; }
.founder_img_outer{ float:left; width:329px; margin-right:10px;}
.founder_text_outer{ float:left; width:65%}
.founder_text_outer h1{ float:left; font-size:32px; color:#282828; font-family: 'segoe_light'; margin-bottom:5px; }
.founder_text_outer .small_text{ float:left; font-size:16px; text-transform:uppercase; color:#282828; line-height:25px; width:100%;}
.founder_text_outer .small_text1{ float:left; font-size:15px;  color:#282828; line-height:25px; width:100%; margin-top:10px; margin-bottom:15px;}
.founder_text_outer .small_text1 span{font-size:24px; margin-left:5px; }

/* dashboard profile - 16dec start here */

.dashprofile_main_outer{ 
	float:left; 
	width:100%;  
}
.dashprofile_main_inner{ 
	margin:0 auto; 
	width:998px; 
	padding-bottom:15px; 
}
.dashprofile_text{ 
	float:left; 
	width:94%;  
	padding:40px 30px 0;  
	font-size:20px;  
	font-family: 'segoe_light'; 
	color:#999; 
	line-height:26px; 
}
.dashprofile_content{ 
	float:left;  
	padding-bottom:5px;    
	width: 100%; 
	background: none repeat scroll 0 0 #E9EAEC; 
}	
.dashprofile_content_inner{ 
	margin:0 auto; 
	width:998px;   
}
.dashprofile_content_inner_main {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DBDCDE;
    float: left;
    margin-bottom: 50px;
    margin-top: 5px;
    position: relative;
    width: 100%;
}
.dashpro_left {
    background: none repeat scroll 0 0 #E9EAEC;
    float: left;
    margin: 10px 0 0;
    position: fixed;
    width: 15%;
}
.dashpro_left_box{
	width: 100%;
	float: left;
}
.active{
	background: #fff;
}
.dashpro_left_box_main {
    float: left;
    margin: 10px 34px;
    width: 52%;
}
.dashpro_img{
    float: left;
	width: 100%;
}
.dashpro_edit{
	float:left;
	width: 13%;
}
.dashpro_title{
	float: left;
	font-size: 20px;
	color: #999;
	width: 100%;
	text-align: center;
}
.dashpro_right {
    float: right;
    margin-left: 3%;
    padding: 20px 10px;
    width: 74.9%;
}
.dashpro_right_text{
	float: left;
	width: 100%;
}
.dashpro_info{
	font-size: 25px;
	color: #999;
	text-align: center;
}
.border_bottom {
    border-bottom: 1px solid #dbdcde;
    float: left;
    margin-left: 22%;
    margin-top: 5px;
    width: 55%;
}
.right_nav_outer_main {
    float: left;
    margin-top: 25px;
    width: 100%;
}
.right_nav_outer {
    float: left;
    background: #999;
    padding: 3px;
	width: 742px;
}
.right_nav {
    margin: 0;
    padding: 0;
    font-family: 'calibri';
    text-align: center;
}
.right_nav li {
    float: left;
    display: inline;
    position: relative;
	padding: 3px;
}
.right_nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: 'segoe_light';
    padding: 3px 26px;
}
.right_nav li a:hover {
    color: #000;
    background: -moz-linear-gradient(center bottom , #E9EAEC 10%, #FFFFFF 99%) repeat scroll 0 0 #E9EAEC;
}
.right_nav li .active {
    color: #000;
    background: -moz-linear-gradient(center bottom , #E9EAEC 10%, #FFFFFF 99%) repeat scroll 0 0 #E9EAEC;
}
/* new changes */
/*.top_nav_blue{
	display: none;
    left: 30.9%;
    position: absolute;
    top: 70%;
}*/
.top_nav_blue_main{
	background: none repeat scroll 0 0 #2CCAFD;	
}
.dashpro_right_form{
	float: left;
	width: 100%;
}
.dashpro_right_form_heading {
    color: #999999;
    float: left;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}
.personal_detail{
	float: left;
	width: 100%;
}
.personal_detail_form{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #CCCCCC;
    float: left;
	width: 50%;
	padding: 10px;
}
.personal_detail_textarea {
    background: none repeat scroll 0 0 #F4F5F6;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    color: #999999;
    float: left;
    font-family: 'segoe_light';
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    width: 352px;
}
.textarea_half{
	width: 43%; 
	margin-right: 2%;
	margin-bottom: 0px;
}
.textarea_half:last-child{
	margin-right: 0;
	margin-bottom: 0px;
}
.education_detail{
	float: left;
	width: 100%;
}
.education_detail_form{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #CCCCCC;
    float: left;
	width: auto;
	padding: 10px;
}
.education_detail_form_inner_bg{
	background: none repeat scroll 0 0 #F8F8F8;
    border-radius: 5px;
    float: left;
    padding: 10px;
}
.education_detail_form_inner_content{
	float: left;
	width: 100%;
}
.form_row{
	float: left;
	width: 100%;
}
.textarea_white {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    color: #999999;
    float: left;
    font-family: 'segoe_light';
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 207px;
}
.textarea_white:last-child {
	margin-right: 0px;
}
.form_row .red_butt{ 
	float: right; 
	margin: 10px 0px;  
	color: #fff; 
	padding: 0px;
}
.form_row .red_butt a{ 
	text-decoration: none; 
	color: #fff; 
	font-size: 16px;  
	background: #f74747;
}
.form_row .red_butt a:hover{ 
	color: #fff; 
	background: #333;  
}
.arw1 {
    float: left;
    height: 175px;
    margin-top: 110px;
    width: 102px;
}
.employment_detail{
	float: left;
	width: 100%;
}
.employment_detail_form{
	float: left;
	width: 70%;
}
.employment_detail_form_bg{
	float: left;
	width: 100%;
	background: #fff;
	box-shadow: 1px 1px 5px #CCCCCC;
	padding: 10px;
	border-radius: 5px;
}
.employment_detail_form_inner_bg{
	background: none repeat scroll 0 0 #F8F8F8;
    border-radius: 5px;
    float: left;
    padding: 10px;
}
.arw2{
    float: left;
    margin-left: 25px;
    width: 102px;
}
.form_row_left {
    float: left;
    margin-right: 20px;
    width: 47%;
}
.form_row_right {
    float: left;
    width: 47%;
}
.textarea_third{
	width: 37%;
	float: left;
}
.account_detail{
	float: left;
	width: 100%;
}
.account_detail .left_arrow_outer{
    float: left;
    margin-left: 50px;
    width: 102px;
}
.account_detail .right_arrow_outer {
    float: left;
    margin-left: 20px;
    margin-top: 230px;
    width: 102px;
}
.account_detail_form{
    float: left;
    width: 48%;
}
.form_bg{
	float: left;
	width: 100%;
	background: #fff;
	box-shadow: 1px 1px 5px #CCCCCC;
	padding: 10px;
	border-radius: 5px;
}
.account_detail_form .textarea {
    background: none repeat scroll 0 0 #F4F5F6;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    color: #999999;
    float: left;
    font-family: 'segoe_light';
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    width: 94%;
}
/* dashboard profile - 16&17dec ends here */